*
{
	/*text-align: justify;*/
	/*police spéciale*/
}

h1,h2,h3
{
	text-align: center;
}

body
{
	background-color: maroon;
	color:white;
}

aside
{
	vertical-align: top;	/* On aligne à partir du haut le block (avec celui du menu de navigation */
    min-width: 350px;	/*Largeur minimale */
	/*float: float;*/
	display: inline-block;
	width: 10%;
	margin-left: 25px;
}

section
{
	text-align: justify;	/*Alignement du texte */
	vertical-align: top;	/* On aligne à partir du haut le block (avec celui du menu de navigation */
	/*width: 50%;	/* Largeur du block */
	margin: auto;
    min-width: 350px	/*Largeur minimale */
}

nav
{
	border: 1px dashed black;	/* Bordure du block */
	vertical-align: top;
	text-align: left;
	width: 270px;
	border-radius: 10px;	/*Bords arrondis */
	box-shadow: 6px 6px 6px black; /* Ombre sous le tour de la boîte: décalage horizontal, vertical, adoucissement, couleur */
	margin-left: 50px;
	margin: auto; /*On centre le block */
	bottom:55px;
	right: 650px;
}

a /*Liens normalement */
{
	font-style: italic;
	color: #109fea;
	text-align: center;
	text-decoration: none;	/* Liens non soulignés normalement */
	font-size: 1.3em;
	text-shadow: 2px 2px 4px blue;
}
a:hover /*Lorsqu'on passe la souris sur les liens */
{
	text-decoration: underline;
	color: black;
}
a:visited /*Lorsqu'on a déjà visité la page */
{
	color: white;
}